#contact{
  height: 100vh;
}
h2{
  color: var(--dark-orange);
  text-align: center;
}
.para h3{
  transition: all 0.2 linear;
  font-size: 30px;
  font-family: cursive;
  color: var(--deep-dark);
  text-align: center;
}

 hr{
   display:block;
   margin:0 auto;
   height:10px;
   width:250px;
   margin-bottom: 1rem;
   border:none;
   border: 3px solid #f00000;
  background-color: var(--dark-orange);

   
 }



  
   .para{
    color: var(--deep-dark);
text-align: center;
padding-bottom: 5rem;
font-size: 2rem;
font-family: "Poppins-Bold";
  
  }
  .container-fluid{
    width: 100vw;
    background: radial-gradient(#e5e5e5, #ffff,#e5e5e5);
  }
  .contact {
    
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
  }
  
  Form {
    border: 1px solid var(--deep-dark);
    border-radius: 10px;
    padding: 20px;
  }